
header {
	width: 100%;
	background-color: rgb(0, 0, 0);
	margin-top: -10px;
	vertical-align: middle;
	height: 87px;

}
.container{
	width: 1250px;	
	margin: 0 auto;
	height: 87px;
	background:url(logo.png) no-repeat center center;
}
.lang{
	float: left;
	font-size: 14px;	
  	font-family: "Myriad Pro";
  	font-weight: bold;
  	color: rgb(255, 255, 255);
  	padding-top: 25px;
}
.lang:hover{
	color: rgb(180,175,175); 
	cursor: pointer;
}

.login{
  	display: inline;
	font-size: 14px;
  	font-family: "Myriad Pro";
  	font-weight: bold;
  	color: rgb(229, 20, 100);
  	float: right;
  	padding-top: 25px;
}

.login:hover{
	color: rgb(180,175,175);
	cursor: pointer; 	
 }

.content{
	height: 1250px;
	width: 1250px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: justify;
}

.search_input {
  	padding-left: 4%;
  	display: inline;
  	box-sizing: content-box;
  	height: 10px;
  	width: 30%;
  	padding: 10px 20px 10px 20px;
  	border: 1px solid #dcdcdc;
  	font: normal 14px/normal "Myriad Pro";
  	color: rgb(180,175,175);
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: rgb(252,252,252);
  	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}

.search_input:hover {
  	box-shadow:inset 0 0 5px #D3D3D3;
}

.newsletter_input {
  	padding-left: 4%;
  	display: inline;
  	box-sizing: content-box;
  	height: 15px;
  	width: 70%;
  	padding-right: 40px;
  	padding: 10px 20px 10px 20px;
  	border: 1px solid #dcdcdc;
  	font: normal 14px/normal "Myriad Pro";
  	color: rgb(180,175,175);
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: rgb(252,252,252);
  	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
  	margin-right: 0px;
  	vertical-align: middle;

}

.newsletter_input:hover{
	box-shadow:inset 0 0 10px #000000;
}

.newsletter-button{
	display: inline;
	width: 40px;
	height: 37px;
	border: 1px solid #D3D3D3;
	color: rgb(255,255,255);
	background-color: black;
	vertical-align: middle;
}

.newsletter-button:hover{
	box-shadow:inset 0 0 10px #D3D3D3;
	cursor: pointer;
}

.newsletter-form{
	position: relative;
}

/* Ne radi mi ovo stilizovanje radio button-a, tj. ne vidim efekat*/
input[type="radio"] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 8px;  
}

.email-form{
	margin-top: 25px;
	height: 37px;
}


.filter_by{
	margin-left: 30px;
	display: inline;
	background:none;
	border:0;
	font-size: 14px;
	font-family: "Myriad Pro";
	font-weight: bold;
}

.filter_by:hover{
	color: rgb(229, 20, 100);
	cursor: pointer;
}

.title{
	padding-top: 10px;
	font: normal 26px/normal "Myriad Pro";
	font-weight: bold;
}


div.result > p.holder{
	font-weight: bold;
}

footer{
	width: 100%;
	background-color: rgb(0, 0, 0);
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 60px;
}

.container-footer{
	width: 1400px;	
	margin: 0 auto;
	height: 250px;
	vertical-align: middle;
}

.logo-footer{
	float: left;
	width: 15%;
	height: 100%;
	background:url(logo.png) no-repeat center top;
	margin-top: 20px;
}

.info-footer{
	float: left;
	width: 20%;
	height: 100%;
}

.list-info{
		list-style:none;
}

.social-footer{
	float: left;
	width: 20%;
	height: 100%;
	font-weight: bold;
	color: rgb(255,255,255);
	font-family: "Myriad Pro";
}

div.social-footer > p {
	padding-left: 10%;
}

.newsletter-footer{
	float: left;
	width: 25%;
	height: 100%;
	font-weight: normal;
	font-family: "Myriad Pro";
	color: rgb(255,255,255);
}

li > a{
	text-decoration: none;
	color: rgb(255,255,255);
	font-family: "Myriad Pro";
}

li > a:hover{
	color: rgb(180,175,175);
}

ul.list-info > li {
	padding-top: 8px;
}

p.first-line{
	color: rgb(255,255,255);
	font-weight: bold;
}

div.newsletter-footer > p,form {
	padding-left: 10%;
}

div.social-footer > p {
	padding-left: 10%;
	font-weight: bold;
}

div.social-footer > img.zigzag{
	padding-left: 10%;
}

div.newsletter-footer > img.zigzag{
	padding-left: 10%;
}

.social-images{
	padding-left: 10%;
}

div.social-images > img{
	padding-right: 35px;
	padding-top: 20px;
}

.commands{
	margin-top: 50px;
}

.table-container{
	margin-top: 45px;
	width: 100%;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table > th,td{
	padding-bottom: 5px;
	padding-top: 5px;
	border-collapse: collapse;
	border-bottom: 1px solid #D3D3D3;
}

.food{
	margin: 0 auto;
}

tr.table-heading{
	border-bottom: 1px solid #000000;
	height: 35px;
	text-align: left;
}

.column1{
	width: 15%;
}

.column2{
	width: 10%;
}

.column3{
	width: 15%;
}

.column4{
	width: 50%;
}

.column5{
	width: 10%;
}

.pagination{
	float: right;
}

.pagination > img{
	float:left;
	margin-left: 2px;
}

.table-footer{
	margin-top: 40px;
}

.table-details{
	float:left;
	color: #626263;
}

.btn {
  	font-family: "Myriad Pro";
  	color: rgb(229, 20, 100);
  	font-size: 14px;
  	background: #ffffff;
  	padding: 10px 20px 10px 20px;
  	border: solid #dc1464 1px;
  	text-decoration: none;
}

.btn:hover {
 	background: rgb(229, 20, 100);
  	text-decoration: none;
  	color: #ffffff;
  	cursor:	pointer;
}

.back-button{
	font: normal 26px/normal "Myriad Pro";
	font-weight: bold;
}

.back-div{
	padding-top: 25px;
	cursor: pointer;
	width: 120px;
}

.back-image{
	margin-right: 10px;
}

.down-info{
	position: relative;
	top: 70px;
}

.down-info-list{
	list-style-type: none;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	color: #626263;
}

.list-down-info{
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	padding-top: 10px;
	padding-bottom: 10px;
}

.list-info-headline{
	margin-top: 40px;
	height: 30px;
	width: 100%;
	border-bottom: 1px solid;
	font: bold 16px/bold "Myriad Pro";
	border-bottom-color: #D3D3D3;
}

.top-info{
	width: 100%;
	height: 500px;
}

.gallery{
	width: 55%;
	height: 100%;
	float: left;
/*	background-color: #D3D3D3;*/
}

.right-info{
	width: 45%;
	height: 100%;
	float:left;
}

.info-title{
	font-family: "Myriad Pro";
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	height: 40px;
	font-weight: bold;
	font-size: 26px;
}

.description-title{
	padding-right: 10px;
	font: normal 16px/normal "Myriad Pro";
	padding-bottom: 20px;
}

td{
	color: #626263;
}

.table-right-info{
	width: 100%;
	border: none;
	border-collapse:collapse;
}

.info-table-head{
	background-color: #F6F6F8;
	font: bold 14px/bold "Myriad Pro";
}

.info.table-content{
	font: normal 14px/normal "Myriad Pro";
	border-bottom: 1px #F6F6F8;
}

.table-row-right-info{
	height: 40px;
	text-align: left;
	padding-left: 5px;
}

.nutrition{
	font-family: "Myriad Pro";
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	color: #626263;
	height: 30px;
	margin-top: 40px;
}

.nutrition-images{
	float:left;
}

.nutrition-images > img{
	padding-left: 10px;
}

.gift-box{
	font-family: "Myriad Pro";
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	color: #626263;
	height: 30px;
	margin-top: 40px;
}

.gift-box-images{
	float:left ;
}

.gift-box-images > img{
	padding-left: 10px;
}
