@font-face {
   font-family: chevinProBold;
   src: url('fonts/chevinpro-bold-webfont.eot'), url('fonts/chevinpro-bold-webfont.ttf') format('truetype'), url('fonts/chevinpro-bold-webfont.svg') format('svg');
}

@font-face {
   font-family: chevinProMedium;
   src: url('fonts/chevinpro-medium-webfont.eot');
   src: url('fonts/chevinpro-medium-webfont.eot'), url('fonts/chevinpro-medium-webfont.ttf') format('truetype'), url('fonts/chevinpro-medium-webfont.svg') format('svg');
}

header {
	width: 100%;
	background-color: #000000;
	vertical-align: middle;
	height: 87px;
}

body{
	margin: 0;
}

.header-container{
	width: 75%;	
	margin: 0 auto;
	height: 87px;
	background:url(logo.png) no-repeat center center;
}

.lang{
	float: left;
	font-size: 14px;	
  	font-family: chevinProBold;
  	font-weight: bold;
  	color: #FFFFFF;
  	padding-top: 25px;
}
.lang:hover{
	color: #B4AFAF; 
	cursor: pointer;
}

.login{
  	display: inline;
	font-size: 14px;
  	font-family: chevinProBold;
  	font-weight: bold;
  	color: #E51464;
  	float: right;
  	padding-top: 25px;
}

.login:hover{
	color: #B4AFAF;
	cursor: pointer; 	
 }

.container{
	height: 1250px;
/*	width: 1250px;
*/	margin: 0 auto;
	padding-top: 20px;
	text-align: justify;
}

.product-list-content{
	margin: 0 auto;
	width: 75%;
}

.search-input {
  	width: 250px;
  	display: inline;
  	box-sizing: content-box;
  	height: 10px;
  	padding: 10px 20px 10px 30px;
  	border: 1px solid #dcdcdc;
  	font: normal 14px/normal chevinProMedium;
  	color: #B4AFAF;
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: #FCFCFC;
  	text-shadow: 1px 1px 0 #FFFFFF;
}

.search-input:hover {
  	box-shadow:inset 0 0 5px #D3D3D3;
}

.input-group {
    display: inline;
    position: relative;
}

.input-group .input-icon {
    position: absolute;
    top: 0;
    padding: 3px 8px;
}

.newsletter-input {
  	padding-left: 4%;
  	display: inline;
  	box-sizing: content-box;
  	height: 15px;
  	width: 60%;
  	padding-right: 40px;
  	padding: 10px 20px 10px 20px;
  	border: 1px solid #dcdcdc;
  	font: normal 14px/normal chevinProMedium;
  	color: #B4AFAF;
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: #FCFCFC;
  	box-shadow: 2px 2px 2px 0 #000000 inset;
  	text-shadow: 1px 1px 0 #FFFFFF;
  	margin-right: 0px;
  	vertical-align: middle;

}

.newsletter-input:hover{
	box-shadow:inset 0 0 10px #000000;
}

.newsletter-button{
	display: inline;
	width: 40px;
	height: 37px;
	border: 1px solid #D3D3D3;
	color: #FFFFFF;
	background-color: black;
	vertical-align: middle;
}

.newsletter-button:hover{
	box-shadow:inset 0 0 10px #D3D3D3;
	cursor: pointer;
}

.newsletter-form{
	position: relative;
}

input[type="radio"] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px #000000;
    border-radius: 8px;  
}

.email-form{
	margin-top: 25px;
	height: 37px;
}

.title{
	padding-top: 10px;
	font: normal 26px/normal chevinProBold;
	font-weight: bold;
}


div.result > p.holder{
	font-weight: bold;
}

footer{
	width: 100%;
	background-color: #000000;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 60px;
}

.container-footer{
	width: 85%;	
	margin: 0 auto;
	height: 250px;
	vertical-align: middle;
}

.container-footer div ul li{
	padding-bottom: 2px;
}

.logo-footer{
	float: left;
	width: 20%;
	height: 100%;
	background:url(logo.png) no-repeat center top;
	margin-top: 20px;
}

.info-footer{
	float: left;
	width: 15%;
	height: 100%;
}

.list-info{
		list-style:none;
}

.social-footer{
	float: left;
	width: 20%;
	height: 100%;
	font-weight: bold;
	color: #FFFFFF;
	font-family: chevinProBold;
}

div.social-footer > p {
	padding-left: 10%;
}

.newsletter-footer{
	float: left;
	width: 30%;
	height: 100%;
	font-weight: normal;
	font-family: chevinProBold;
	color: #ffffff;
}

li > a{
	text-decoration: none;
	color: #FFFFFF;
	font-family: chevinProMedium;
}

li > a:hover{
	color: #B4AFAF;
}

ul.list-info > li {
	padding-top: 8px;
}

p.first-line{
	color: #FFFFFF;
	font-weight: bold;
}

div.newsletter-footer > p,form {
	padding-left: 10%;
}

div.newsletter-footer > p.second-line{
	font-family: chevinProMedium;
}

div.social-footer > p {
	padding-left: 10%;
	font-weight: bold;
}

div.social-footer > img.zigzag{
	padding-left: 10%;
}

div.newsletter-footer > img.zigzag{
	padding-left: 10%;
}

.social-images{
	padding-left: 10%;
}

div.social-images > img{
	padding-right: 35px;
	padding-top: 20px;
}

.commands{
	margin-top: 50px;
	width: 400px;
	display: inline;
}

.product-search{
	padding-top: 25px;
	visibility: hidden;				/* Hidden for now, available for futher use*/	
}

.product-search span.found-results, span.results-for, span.search-criteria {
	font-family: chevinProBold;
	display: inline-block;
	margin-top: 10px;
}

.product-search span.search-cancel{
	font-family: chevinProMedium;
	display: inline;
	float: right;
}

.product-search span.search-cancel:hover{
	cursor: pointer;
	color: #E51464;
}

.table-container{
	margin-top: 10px;
	width: 100%;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table > th,td{
	padding-bottom: 5px;
	padding-top: 5px;
	border-collapse: collapse;
	border-bottom: 1px solid #D3D3D3;
}

.food{
	margin: 0 auto;
}

tr.table-heading{
	border-bottom: 1px solid #000000;
	height: 35px;
	text-align: left;
}

tr.table-heading th {
	font-family: chevinProBold;
}

.column1{
	width: 15%;
}

.column2{
	width: 10%;
}

.column3{
	width: 15%;
}

.column4{
	width: 50%;
}

.column5{
	width: 10%;
}

.pagination{
	float: right;
}

.pagination > img{
	float:left;
	margin-left: 2px;
	cursor: pointer;
}

.table-footer{
	margin-top: 40px;
}

.table-details{
	float:left;
	color: #626263;
	font-family: chevinProMedium;
}

.btn {
  	font-family: chevinProBold;
  	color: #E51464;
  	font-size: 14px;
  	background: #ffffff;
  	padding: 10px 20px 10px 20px;
  	border: solid #dc1464 1px;
  	text-decoration: none;
}

.btn:hover {
 	background: #E51464;
  	text-decoration: none;
  	color: #ffffff;
  	cursor:	pointer;
}

.back-button{
	font: normal 26px/normal chevinProBold;
	font-weight: bold;
}

.back-div{
	padding-top: 25px;
	cursor: pointer;
	width: 120px;
}

.back-image{
	margin-right: 10px;
}

.down-info{
	position: relative;
	top: 70px;
}

.down-info-list{
	list-style-type: none;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	color: #626263;
}

.list-down-info{
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: chevinProMedium;
}

.list-info-headline{
	margin-top: 40px;
	height: 30px;
	width: 100%;
	border-bottom: 1px solid;
	font-size: 16px;
	font-family: chevinProBold;
	border-bottom-color: #D3D3D3;
}

.top-info{
	width: 100%;
	height: 500px;
}

.gallery{
	width: 55%;
	height: 100%;
	float: left;
/*	background-color: #D3D3D3;*/
}

.right-info{
	width: 45%;
	height: 100%;
	float:left;
}

.info-title{
	font-family: chevinProBold;
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	height: 40px;
	font-weight: bold;
	font-size: 26px;
}

.description-title{
	padding-right: 10px;
	font: normal 16px/normal chevinProMedium;
	padding-bottom: 20px;
}

td{
	color: #626263;
	font-family: chevinProMedium;
}

.table-right-info{
	width: 100%;
	border: none;
	border-collapse:collapse;
}

.table-right-info th {
	font-family: chevinProBold;
	height: 40px;
	text-align: left;
	padding-left: 5px;
	background-color: #F6F6F8;
}

.table-right-info td {
	font-family: chevinProMedium;
	height: 40px;
	text-align: left;
	padding-left: 5px;
}

.info-table-head{
	background-color: #F6F6F8;
	font: bold 14px/bold chevinProBold;
}

.info.table-content{
	font: normal 14px/normal chevinProBold;
	border-bottom: 1px #F6F6F8;
}

.nutrition{
	font-family: chevinProBold;
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	color: #626263;
	height: 30px;
	margin-top: 40px;
}

.nutrition-images{
	float:left;
}

.nutrition-images > img{
	padding-left: 10px;
}

.gift-box{
	font-family: chevinProBold;
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	color: #626263;
	height: 30px;
	margin-top: 40px;
}

.gift-box-images{
	float:left ;
}

.gift-box-images > img{
	padding-left: 10px;
}
.filter-by{
	margin-left: 30px;
/*	left: -60px;*/
	background:none;
	border:0;
	font-size: 14px;
	font-family: chevinProBold;
	font-weight: bold;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 0px;
	height: 50px;
}

.filter-dropdown{
	background: #FFFFFF; 
  	visibility: hidden; 
  	color: #D3D3D3;
  	position: absolute;
	height: 300px;
  	width: 100%;
  	left: 0;
	border-bottom: 1px solid #D3D3D3;
  	border-top: 1px solid #D3D3D3;
}

.filter-dropdown:hover{

}

.filter-by:hover{
	color: #E51464;
	cursor: pointer;
	border-top: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
}

.filter-by:hover > div{
	visibility: visible;
}

.dd-container div ul{
	padding-left: 5px;
	padding-right: 2px;
}

.dd-container p{
	font-size: 14px;
	display: inline;
}

.dd-list1{
	width: 15%;
	float: left;
	border-right: 1px solid #D3D3D3;
}

.dd-list2{
	width: 15%;
	float: left;
	border-right: 1px solid #D3D3D3;
}

.dd-list3{
	width: 18%;
	float: left;
}

.dd-list4{
	width: 18%;
	float: left;
	border-right: 1px solid #D3D3D3;
}

.dd-list5{
	width: 17%;
	float: left;
}

.dd-list6{
	width: 16%;
	float: left;
}

.dropdown:hover .filter-by, .dropdown:hover .filter-dropdown {
    visibility: visible;
}

.icon-span {
	width: 20px;
	display: inline-block;
	margin-right: 15px;
}

.filter.dropdown > div,ul{
	height: 200px;
}

.filter.dropdown > ul,li{
	padding-bottom: 15px;
	list-style-type: none;
	text-align: left;
	vertical-align: middle;
}

.filter-dropdown span.filter-item {
	vertical-align: middle;
	color: black;
	font-weight: normal;
	font-family: chevinProMedium;
}

.filter-dropdown span.filter-item:hover {
	vertical-align: middle;
	color: #E51464;
	font-weight: normal;
	cursor: pointer;
}

.filter-dropdown div ul li img {
	vertical-align: middle;
}

.dd-container{
	margin: 0 auto;
	width: 80%;
}

.dd-list3 ul li img{
	height: 25px;
	width: 25px;
}

.dd-list4 ul li img{
	height: 25px;
	width: 25px;
}

.dd-list5 ul li img{
	height: 20px;
	width: 20px;
}

.dd-list6 ul li img{
	height: 20px;
	width: 20px;
}

.login-form{
	display: block;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 500px;
	height: 450px;
	margin-top: 10%;
	background: #FCFCFC;
	border: 1px solid #dcdcdc;
	padding-bottom: 40px;
	border-radius: 15px;
}

.login-form form{
	padding-left: 50px;
	padding-right: 50px;
}


.login-title{
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
  	font-size: 24px;
  	font-family: chevinProBold;
  	padding-bottom: 20px;
}

.email{
	width: 300px;
	position: relative;
    display: block;
    margin : 0 auto;
  	box-sizing: content-box;
  	height: 10px;
  	padding: 10px;
  	border: 1px solid #dcdcdc;
  	font: normal 14px/normal chevinProBold;
  	color: #B4AFAF;
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: #FCFCFC;
  	text-shadow: 1px 1px 0 #FFFFFF;
  	margin-bottom: 20px;
}

.email:hover {
  	box-shadow:inset 0 0 5px #D3D3D3;
}

.password{
	width: 300px;
	position: relative;
    display: block;
    margin : 0;
    margin: 0 auto;
  	box-sizing: content-box;
  	height: 10px;
  	padding: 10px;
  	margin-bottom: 30px;
  	border: 1px solid #dcdcdc;
  	font: normal 14px/normal chevinProBold;
  	color: #B4AFAF;
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: #FCFCFC;
  	text-shadow: 1px 1px 0 #FFFFFF;
}

.password:hover {
  	box-shadow:inset 0 0 5px #D3D3D3;
}

.email-label{
	width: 80%;
	position: relative;
    display: block;
    margin : 0 auto;
  	height: 10px;
  	padding-bottom: 20px;
  	font-family: "Calibri";
  	font-size: 18px;
  	color: #B4AFAF;
  	text-align: left;
  	font-weight: bold;
}

.pass-label{
	width: 80%;
	position: relative;
    display: block;
    margin : 0 auto;
  	height: 10px;
  	padding-top: 10px;
  	padding-bottom: 20px;
  	font-family: chevinProBold;
  	font-size: 18px;
  	color: #B4AFAF;
  	font-weight: bold;
}

.submit-form{
	width: 300px;
	position: relative;
    display: block;
    margin : 0 auto;
  	box-sizing: content-box;
  	height: 40px;
  	border: 1px solid #dcdcdc;
  	font-size: 18px;
  	font-weight: bold;
  	font-family: chevinProBold;
  	-o-text-overflow: clip;
  	text-overflow: clip;
  	background: #08BDC8;
  	color: #FFFFFF;
  	text-align: center;
}

.submit-form:hover{
	background-color: #034B50;
}

.login-logo{
	margin: 0 auto;
	display: block;
	margin-top: -110px;
}

.close-form-ellipse{
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}